.App {
  text-align: center;
}

#header{
  background-color: #282c34;
  padding-top: 20px;
}
#header img{
  padding-bottom: 10px;
  width: 50px;
  transition: 0.3s;
}
#header img:hover{
  padding-bottom: 10px;
  width: 60px;
}
#header a{
  text-decoration: none;
  color: white;
  font-size: 20pt;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}
#header a:hover{
  font-size: 25pt;
}

.employees{
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 700px;
}

.cardWrap{
  flex: 1;
  justify-content: center;
}

.contactCard{
  position: relative;
  width: 120px;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
}

.contactCard img{
  background-size: contain;
  width: 70%;
  margin-top: 10px;
}
.contactCard .empInfo{
  color:#282c34;
}

.contactCard h3{
  font-size: medium;
  margin: 0px;
}

.contactCard h4{
  font-size: small;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
